$white-color: #fff;
$black-color: #1d2027;
$primary-color: #45c8dc;

$aside-width: 25%;
$aside-max-width: 350px;
$aside-min-width: 200px;
$main-width: 75%;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	font-family: "Ubuntu", sans-serif;
	background: $black-color;
	cursor: default;
	user-select: none;
	-webkit-app-region: no-drag;
}

::-webkit-scrollbar {
	width: 5px;
}

.movio {
	height: 100%;
}

.page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.splash {
	flex: auto;
	text-align: center;
	&::before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: -65%;
		background: lighten($black-color, 2);
		transform: skewx(-27deg);
		z-index: -1;
	}
	&__title {
		margin-top: 10%;
		font-size: 5rem;
		font-weight: 100;
		color: lighten($black-color, 20);
	}
	&__thin {
		color: lighten($black-color, 60);
	}
	&__description {
		color: lighten($black-color, 40);
		width: 80%;
		margin: auto;
		max-width: 360px;
		line-height: 1.6;
	}
	&__loading-bar {
		width: 80%;
		position: absolute;
		bottom: 20%;
		right: 0;
		height: 1px;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: $primary-color;
			animation-duration: 5s;
			animation-name: loading;
		}
		@keyframes loading {
			from {
				width: 0;
			}
			to {
				width: 100%;
			}
		}
	}
}

.wrapper {
	&-top {
		flex: auto;
	}

	&-bottom {
		flex: auto;
		height: calc(100% - 50px);
	}
}

.header {
	background: $primary-color;
	display: flex;
	-webkit-app-region: drag;

	&__logo {
		padding: 0 2rem;
		font-size: 1.75rem;
		font-weight: 100;
		color: $white-color;
		flex: auto;
		width: $aside-width;
		max-width: $aside-max-width;
		min-width: $aside-min-width;
		text-align: center;
		background: darken($primary-color, 20);
		line-height: 3rem;
	}
	&__thin {
		color: transparentize($white-color, .4);
	}
	&__nav {
		flex: auto;
		width: $main-width;
		text-align: right;
	}
	&__wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	&__folder {
		color: transparentize($white-color, .4);
		display: table-cell;
		width: 99%;
		line-height: 3rem;
		text-align: left;
		font-size: .8rem;
		padding: 0 2rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__menu {
		width: 145px;
		white-space: nowrap;
		margin: 0;
		padding: 1rem 2rem;
		text-align: left;
		display: table-cell;
		border-left: 1px solid darken($primary-color, 10);
		-webkit-app-region: no-drag;
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		& + & {
			margin-left: 1rem;
		}
	}
	&__link {
		color: darken($primary-color, 20);
		text-decoration: none;
		font-size: 0;
		display: block;
		&:hover {
			.icon {
				&::before {
					border-color: $white-color;
					box-shadow: inset 0 0 4px transparentize($black-color, .8), 0 0 74px transparentize($black-color, .8);
				}
				&::after {
					border-color: $white-color;
					box-shadow: 0 0 4px transparentize($black-color, .8);
				}
			}
		}
		&:active {
			.icon {
				&::before {
					box-shadow: none;
				}
				&::after {
					box-shadow: none;
				}
			}
		}
	}
}

.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	&::before {
		content: "";
		width: 100%;
		display: block;
	}
	&-minus {
		border: 1px solid transparent;
		&::before {
			margin-top: 50%;
			border-top: 1px solid darken($primary-color, 20);
		}
	}
	&-plus {
		border: 1px solid transparent;
		&::before {
			height: 100%;
			border: 1px solid darken($primary-color, 20);
		}
	}
	&-close {
		border: 1px solid transparent;
		&::before {
			border-top: 1px solid darken($primary-color, 25);
			transform: rotate(45deg);
			width: 150%;
			margin-top: 50%;
			margin-left: -25%;
		}
		&::after {
			content: "";
			display: block;
			border-top: 1px solid darken($primary-color, 25);
			transform: rotate(-45deg);
			width: 150%;
			margin-top: -5%;
			margin-left: -25%;
		}
	}
}

.field-folder {
	display: none;
}

.main {
	height: 100%;
	display: flex;
}

.aside {
	flex: auto;
	width: $aside-width;
	max-width: $aside-max-width;
	min-width: $aside-min-width;
	background: lighten($black-color, 2);
	overflow: auto;
	&::-webkit-scrollbar-track {
		background: lighten($black-color, 20);
	}

	&::-webkit-scrollbar-thumb {
		background: darken($primary-color, 20);
	}
	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		&.active {
			background: $black-color;
			.aside__link {
				color: lighten($black-color, 50);
				> i {
					color: lighten($black-color, 40);
				}
			}
			.aside__subitem {
				max-height: 500px;
				height: auto;
			}
		}
	}
	&__link {
		color: lighten($black-color, 25);
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		padding: 2rem;
		display: block;
		&--open {
			&:hover {
				color: lighten($black-color, 50);
				> i {
					color: lighten($black-color, 40);
				}
			}
		}
		&:hover {
			background: $black-color;
		}
		&:active {
			color: lighten($black-color, 50);
			> i {
				color: lighten($black-color, 40);
			}
		}
		> i {
			display: block;
			color: lighten($black-color, 10);
			padding: .1rem 0 .4rem;
		}
	}
	&__text {
		display: block;
	}
	&__subitem {
		max-height: 0;
		height: 0;
		transition: max-height .6s;
		overflow: hidden;
	}
	&__submenu {
		padding: 0;
		list-style: none;
		text-align: center;
		margin-bottom: 1.5rem;
		padding-bottom: 1px;
		&-item {
			display: block;
			margin-bottom: .5rem;
		}
		&-link{
			padding: .2rem .5rem;
			display: block;
			margin: 0 1rem;
			color: lighten($black-color, 20);
			border: 1px solid lighten($black-color, 20);
			text-decoration: none;
			&.active {
				border: 1px solid $primary-color;
				background: $primary-color;
				color: $white-color;
			}
		}
	}
}

.content {
	flex: auto;
	width: $main-width;
	background: darken($white-color, 10);
	overflow: auto;
	&::-webkit-scrollbar-track {
		background: $white-color;
	}

	&::-webkit-scrollbar-thumb {
		background: $primary-color
	}
}

.movies {
	display: flex;
	margin: 0;
	padding: 5px;
	list-style: none;

	align-items: stretch;
	flex-wrap: wrap;
}

.movie {
	flex: 0 1 20%;
	min-width: 100px;
	padding: 5px;

	&__content {
		font-weight: bold;
		position: relative;
		z-index: 1;
		display: block;
		height: 100%;
		text-decoration: none;
		color: inherit;
		background: $black-color;

		&:hover .movie__infos {
			overflow: auto;
			min-height: 100%;
			white-space: normal;
			text-overflow: clip;
			background: transparentize($white-color, .1);
		}

		&:hover .movie__rating {
			opacity: 1;
		}
	}

	&__picture {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 150px;
	}

	&__infos {
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		min-height: 0;
		padding: 5%;
		transition: all .2s;
		white-space: nowrap;
		text-overflow: ellipsis;
		background: transparentize($white-color, .25);
	}

	&__title {
		display: inline;
	}

	&__rating {
		font-size: 3rem;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		padding: 5%;
		transition: opacity .2s;
		opacity: 0;
	}

	&__year {
		display: inline;

		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}
}
