$white-color: #fff;
$black-color: #000;
$light-color: #efefef;
$dark-color: #444;

* {
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	padding-top: 40px;
	background: $light-color;
}

.loading {
	font-style: italic;
	margin: 20px auto;
	text-align: center;
}

.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;
		background: $dark-color;
	}

	&__item {
		display: inline-block;
		& + & {
			border-left: 1px solid transparentize($white-color, .5);
		}
	}

	&__link {
		line-height: 20px;
		display: block;
		padding: 10px;
		transition: background .2s;
		text-decoration: none;
		color: $white-color;

		&:hover {
			background: darken($dark-color, 20);
		}

		&:active {
			background: lighten($dark-color, 20);
		}

		i {
			margin-right: 5px;
		}
	}
}

.field-folder {
	display: none;
}

.movies {
	display: flex;
	margin: 0;
	padding: 5px;
	list-style: none;

	align-items: stretch;
	flex-wrap: wrap;
}

.movie {
	flex: 0 1 20%;
	min-width: 100px;
	padding: 5px;

	&__content {
		font-weight: bold;
		position: relative;
		z-index: 1;
		display: block;
		height: 100%;
		text-decoration: none;
		color: inherit;
		background: $black-color;

		&:hover .movie__infos {
			overflow: auto;
			min-height: 100%;
			white-space: normal;
			text-overflow: clip;
			background: transparentize($white-color, .1);
		}

		&:hover .movie__rating {
			opacity: 1;
		}
	}

	&__picture {
		display: block;
		width: 100%;
		height: 100%;
		min-height: 150px;
	}

	&__infos {
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		min-height: 0;
		padding: 5%;
		transition: all .2s;
		white-space: nowrap;
		text-overflow: ellipsis;
		background: transparentize($white-color, .5);
	}

	&__title {
		display: inline;
	}

	&__rating {
		font-size: 3rem;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		padding: 5%;
		transition: opacity .2s;
		opacity: 0;
	}

	&__year {
		display: inline;

		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}
}
