.o-button {
	display: block;
	margin: 0 1rem;
	padding: .2rem .5rem;
	text-decoration: none;
	color: lighten($color-black, 20);
	border: 1px solid lighten($color-black, 20);
	transition: color .2s, background .2s, border .2s;
	&.active {
		color: $color-white;
		border-color: $color-primary;
		background: $color-primary;
	}
	&:not(.active):hover {
		color: lighten($color-black, 40);
		border-color: lighten($color-black, 40);
	}
}