div(class='movie-details js-remove-details')
    a(class='movie-details__close js-close-details' href='#')
        i(class="icon icon-close")
        | Back
    div(class='movie-details__content') Lorem ipsum dolor sit amet
