div(class='o-grid__row c-header')
    header(class='o-grid o-grid--horizontal c-header__wrapper')
        div(class='o-grid__col c-header__logo')
            span(class='c-header__thin') Mov
            | io
        nav(class='o-grid__col c-header__nav')
            div(class='c-header__nav-wrapper')
                div(class='c-header__path js-path')
                ul(class='o-list c-header__menu')
                    li(class='c-header__item')
                        a(class='c-header__link js-button' href='#window-minimize')
                            i(class="o-icon o-icon__minimize c-header__icon")
                            | Minimize
                    li(class='c-header__item')
                        a(class='c-header__link js-button' href='#window-maximize')
                            i(class="o-icon o-icon__maximize c-header__icon")
                            | Maximize
                    li(class='c-header__item')
                        a(class='c-header__link js-button' href='#window-close')
                            i(class="o-icon o-icon__close c-header__icon")
                            | Close
main(class='o-grid__row c-main js-movie-details')
    div(class='o-grid o-grid--horizontal c-main__wrapper')
        aside(class='o-grid__col c-aside')
            div(class='c-aside__wrapper')
                nav(class='c-aside__nav')
                    ul(class='o-list c-aside__menu')
                        li(class='c-aside__item')
                            a(class='c-aside__link c-aside__link--open js-button' href='#action-open')
                                i(class="c-aside__icon fa fa-folder fa-lg")
                                span(class='c-aside__text') Open folder
                                input(class='u-hide js-folder' type='file' nwdirectory)
                        li(class='c-aside__item')
                            a(class='c-aside__link js-button' href='#action-order')
                                i(class="c-aside__icon fa fa-sort fa-lg")
                                span(class='c-aside__text') Sort movies
                            div(class='c-aside__subitem')
                                ul(class='o-list c-aside__submenu')
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-orderby-title') By title
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-orderby-year') By year
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-orderby-rating') By rating
                                ul(class='o-list c-aside__submenu')
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-order-asc') Ascending
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-order-desc') Descending
                        li(class='c-aside__item')
                            a(class='c-aside__link js-button' href='#action-filter')
                                i(class="c-aside__icon fa fa-filter fa-lg")
                                span(class='c-aside__text') Filter movies
                            div(class='c-aside__subitem')
                        li(class='c-aside__item')
                            a(class='c-aside__link js-button' href='#action-api')
                                i(class="c-aside__icon fa fa-database fa-lg")
                                span(class='c-aside__text') Movie's database
                            div(class='c-aside__subitem')
                                ul(class='o-list c-aside__submenu')
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-api-imdb') IMDB
                                    li(class='c-aside__submenu-item')
                                        a(class='c-aside__submenu-link o-button js-button' href='#action-api-allocine') Allociné
        section(class='o-grid__col c-content')
            ul(class='o-grid o-grid--masonry o-list c-movie-list js-movie-list')