div(class='c-movie-details js-remove-details')
    a(class='c-movie-details__close js-details-close' href='#')
        i(class="o-icon o-icon__close c-movie-details__icon")
        | Back
    div(class='c-movie-details__wrapper')
        div(class='c-movie-details__content')
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet
            br
            | Lorem ipsum dolor sit amet

